.wrapTotale {
  width: 100%;
  height: 450px;
  .sfondoFront {
    position: absolute;
    top:0;
    left: 0;
    background: url("../../img/sfondo.png")no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 500px;
    .opacita {
      position: absolute;
      top:0;
      left: 0;
      background: -moz-linear-gradient(45deg, rgba(76,13,89,0.38) 0%, rgba(81,21,89,0.38) 65%, rgba(84,29,84,0.38) 66%, rgba(89,37,76,0.38) 67%, rgba(92,42,71,0.38) 68%, rgba(97,53,68,0.38) 69%, rgba(103,60,60,0.38) 70%, rgba(105,71,55,0.38) 71%, rgba(110,76,47,0.38) 72%, rgba(116,87,42,0.38) 73%, rgba(118,97,34,0.38) 74%, rgba(124,105,29,0.38) 75%, rgba(126,110,24,0.38) 76%, rgba(131,121,18,0.38) 77%, rgba(137,129,11,0.38) 78%, rgba(139,137,8,0.38) 79%, rgba(139,139,3,0.38) 80%, rgba(139,139,3,0.38) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, rgba(76,13,89,0.38) 0%,rgba(81,21,89,0.38) 65%,rgba(84,29,84,0.38) 66%,rgba(89,37,76,0.38) 67%,rgba(92,42,71,0.38) 68%,rgba(97,53,68,0.38) 69%,rgba(103,60,60,0.38) 70%,rgba(105,71,55,0.38) 71%,rgba(110,76,47,0.38) 72%,rgba(116,87,42,0.38) 73%,rgba(118,97,34,0.38) 74%,rgba(124,105,29,0.38) 75%,rgba(126,110,24,0.38) 76%,rgba(131,121,18,0.38) 77%,rgba(137,129,11,0.38) 78%,rgba(139,137,8,0.38) 79%,rgba(139,139,3,0.38) 80%,rgba(139,139,3,0.38) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, rgba(76,13,89,0.38) 0%,rgba(81,21,89,0.38) 65%,rgba(84,29,84,0.38) 66%,rgba(89,37,76,0.38) 67%,rgba(92,42,71,0.38) 68%,rgba(97,53,68,0.38) 69%,rgba(103,60,60,0.38) 70%,rgba(105,71,55,0.38) 71%,rgba(110,76,47,0.38) 72%,rgba(116,87,42,0.38) 73%,rgba(118,97,34,0.38) 74%,rgba(124,105,29,0.38) 75%,rgba(126,110,24,0.38) 76%,rgba(131,121,18,0.38) 77%,rgba(137,129,11,0.38) 78%,rgba(139,137,8,0.38) 79%,rgba(139,139,3,0.38) 80%,rgba(139,139,3,0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614c0d59', endColorstr='#618b8b03',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        height: 500px;
        width: 100%;
        z-index: 1;
        .wrapForm {
          position: relative;
          display: flex;
          color: #fff;
          z-index: 2;
          justify-content: center;
          align-items: center;
          height: 450px;
          .motto {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
          }
          .btnWrap {
            padding-top: 31px;
          }
          #ricercaGeo {
            font-weight: bold;
            cursor: pointer;

          }
          .select2-container .select2-selection--single {
            height: 36px;
          }
          .btnInvioForm {
            width: 100%;
          }
        }
      }
  }
}

@include media-breakpoint-down(sm) {
  .wrapTotale {
    height: 100vh;
    .sfondoFront {
      height: 100vh;
      .opacita {
        height: 100vh;
        .wrapForm {
          height: 100vh;
          .motto {
            font-size: 20px;
            .lead {
              display: none;
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {

}
